<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
  <link rel="stylesheet" type="text/css" href="/userlist/userlist.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body> 
    <nav id="navbar">
        <h id="appname">MATCHPAW</h>
    </nav>
        <section id="pageheader">
    <p style="margin:0; font-size: 30px; font-weight: bold; color:#7b6db6;">User List</p>
    </section>       
<main class="table-data">

    <p>Type something in the input field to search the table for names, emails or account types:</p>  
    <input id="searchInput" type="text" placeholder="Search..">
    <br><br>
    <table id=table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Account Type</th>
        </tr>
        </thead>
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tbody id="userTable">
        <tr>
            <td><%=i; %></td>
            <td class="username"><%=data.username %></td>
            <td><%=data.first_name %></td>
            <td><%=data.last_name %></td>
            <td><%=data.email %></td>
            <td><%=data.account_type %></td>
        </tr>
        </tbody>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No User Found</td>
            </tr>
        <% } %>
    </table>
    </main>

        <footer>
            <p style="position: absolute;">menu and direction to aboutus</p>
            <p onclick="autoscrollTop()" style="position: absolute; right: 10px; font-size: 11px;">TOP</p>
        </footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/userlist/userlist.js"></script>
</html>